.welcome-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.welcome-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.welcome-container p {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.welcome-container button {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.welcome-container button:hover {
  background-color: #b71c1c;
}

/* App */
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffebee; /* Light pink background */
  color: #d32f2f; /* Dark red text */
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#reason {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

button {
  background-color: #d32f2f; /* Dark red button */
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b71c1c; /* Darker red on hover */
}

.container, .ending-container, .welcome-container {
  overflow: hidden; /* Prevent content from overflowing during animations */
}